.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #d9d9d9;
}

.navbar {
  background-color: #000;
  color: white;
  padding: 16px;
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 140pt;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.content {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-top: 50pt;
}

.title-container {
  background-color: #b04a4a;
  color: white;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0;
}

.container {
  padding: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.container2 {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: black;
  padding: 16px;
}