.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #d9d9d9;
}

.navbar {
  background-color: #000;
  color: white;
  padding: 16px;
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 140pt;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.content {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-top: 50pt;
}

.title-container {
  background-color: #b04a4a;
  color: white;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.Symbol {
  display: flex;
  align-items: center;
}

.Title {
  font-size: 24px;
  font-weight: bold;
}

.container {
  padding: 16px;
  max-height: 620pt;
  overflow-y: hidden;
}

.container2 {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: black;
  padding: 16px;
  overflow-y: auto;
  flex: 1;
  max-height: calc(100vh - 150px);
  padding-bottom: 60pt;
}

.back-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  transition: transform 0.2s ease, color 0.2s ease;
}

.back-button2 {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  margin-right: 15px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.back-button:hover, .back-button2:hover {
  color: #f0f0f0;
  transform: scale(1.05);
}

.back-button:active, .back-button2:active {
  transform: scale(0.95);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}