body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: var(--Background);
   
}

.sidenav {
    height: 100%;
    background-color: var(--Primary);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}


.main {
    padding: 0px 10px;
}

.btn{
    margin-top: 10pt;
    margin-right: 10pt;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .register-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 60%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .register-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 10%;
    }
}


.register-main-text{
    margin-top: 20%;
    padding: 60px;
    color: var(--Background);
}

.register-main-text h2{
    font-weight: 300;
}

.form-control{
    font-size: 18px;
    padding: 12px;
    height: 50px;
    width: 100%;
    border-radius: 6px;
}

.form-group{
    font-size: 22px;
}

.form-label{
    margin-top: 15pt;
}